<div class="aboutBackground">
  <div class="homeText">
    <h2 class="text-center">"I'm the mood for anything, where do you want to eat?" "I don't care, where would you like to eat?" If this conversation sounds familiar, this app was made for you!</h2>
    <h2 class="text-center">Deciding where to go out to eat, especially when you're not super picky about it, can be hard when there's lots of places to choose from! And when you're hungry, you want that decision made fast. This app was made to help people find new places to eat, and have an easy way to make a decision about where to get food.</h2>
    <h3 class="text-center">This site was made by Lizzie Szoke for her capstone project at Galvanize, a web development immersive bootcamp. To find out more about Lizzie, head on over to <a href="http://www.lizzieszoke.com" target="_blank">www.lizzieszoke.com</a>.</h3>
    <a href="/#/decide"><h2 class="text-center">Click here to get going!</h2></a>
    <h1 class="text-center">Enjoy your meal!</h1>
  </div>
</div>
