<div class="dashBackground">
  <div class="container-fluid">
    <h2 class="text-center">{{user.first_name}}'s Dashboard</h2>
    <h4 class="text-center dashHeading" ng-click="view.showPlaces = !view.showPlaces"><i class="fa fa-plus fa-1x" aria-hidden="true" ng-show=!view.showPlaces></i><i class="fa fa-minus fa-1x" aria-hidden="true" ng-show="view.showPlaces"></i> Places I've Been</h4>
    <div class="dashGroup text-center" ng-show="view.showPlaces">
      <h3 ng-show="view.userPlaces.length === 0">
        Looks like you haven't been anywhere yet! <a href="#/decide">Click here to search</a> and find somewhere to go!
      </h3>
      <ul class="list-group center-block row" ng-repeat="place in view.userPlaces" ng-if="$index % 3 === 0">
        <div class="dashPlaces col-xs-3">
          <li><h4><strong><i class="fa fa-star" aria-hidden="true" ng-show="view.userPlaces[$index].is_favorite"></i> {{view.userPlaces[$index].name}}</strong></h4></li>
          <li><img ng-src="{{view.userPlaces[$index].image}}" alt="Restaurant"></li>
          <li>{{view.userPlaces[$index].address_line_1}} {{view.userPlaces[$index].address_line_2}}</li>
          <li>{{view.userPlaces[$index].city}}, {{view.userPlaces[$index].state}} {{view.userPlaces[$index].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userPlaces[$index].address_line_1}} {{view.userPlaces[$index].address_line_2}} {{view.userPlaces[$index].city}} {{view.userPlaces[$index].state}} {{view.userPlaces[$index].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userPlaces[$index].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li ng-show="!view.userPlaces[$index].is_favorite"><button class="btn btn-success" ng-click="view.userPlaces[$index].is_favorite = !view.userPlaces[$index].is_favorite; view.userFaves.push(view.userPlaces[$index]); view.addFavorite(view.userPlaces[$index].id)"><i class="fa fa-star" aria-hidden="true"></i> Favorite</button></li>
        </div>
        <div class="dashPlaces col-xs-3" ng-if="view.userPlaces.length > ($index + 1)">
          <li><h4><strong><i class="fa fa-star" aria-hidden="true" ng-show="view.userPlaces[$index + 1].is_favorite"></i> {{view.userPlaces[$index + 1].name}}</strong></h4></li>
          <li><img ng-src="{{view.userPlaces[$index + 1].image}}" alt="Restaurant"></li>
          <li>{{view.userPlaces[$index + 1].address_line_1}} {{view.userPlaces[$index + 1].address_line_2}}</li>
          <li>{{view.userPlaces[$index + 1].city}}, {{view.userPlaces[$index + 1].state}} {{view.userPlaces[$index + 1].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userPlaces[$index + 1].address_line_1}} {{view.userPlaces[$index + 1].address_line_2}} {{view.userPlaces[$index + 1].city}} {{view.userPlaces[$index + 1].state}} {{view.userPlaces[$index + 1].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userPlaces[$index + 1].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li ng-show="!view.userPlaces[$index + 1].is_favorite"><button class="btn btn-success" ng-click="view.userPlaces[$index + 1].is_favorite = !view.userPlaces[$index + 1].is_favorite; view.userFaves.push(view.userPlaces[$index + 1]); view.addFavorite(view.userPlaces[$index + 1].id)"><i class="fa fa-star" aria-hidden="true"></i> Favorite</button></li>
        </div>
        <div class="dashPlaces col-xs-3" ng-if="view.userPlaces.length > ($index + 2)">
          <li><h4><strong><i class="fa fa-star" aria-hidden="true" ng-show="view.userPlaces[$index + 2].is_favorite"></i> {{view.userPlaces[$index + 2].name}}</strong></h4></li>
          <li><img ng-src="{{view.userPlaces[$index + 2].image}}" alt="Restaurant"></li>
          <li>{{view.userPlaces[$index + 2].address_line_1}} {{view.userPlaces[$index + 2].address_line_2}}</li>
          <li>{{view.userPlaces[$index + 2].city}}, {{view.userPlaces[$index + 2].state}} {{view.userPlaces[$index + 2].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userPlaces[$index + 2].address_line_1}} {{view.userPlaces[$index + 2].address_line_2}} {{view.userPlaces[$index + 2].city}} {{view.userPlaces[$index + 2].state}} {{view.userPlaces[$index + 2].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userPlaces[$index + 2].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li ng-show="!view.userPlaces[$index + 2].is_favorite"><button class="btn btn-success" ng-click="view.userPlaces[$index + 2].is_favorite = !view.userPlaces[$index + 2].is_favorite; view.userFaves.push(view.userPlaces[$index + 2]); view.addFavorite(view.userPlaces[$index + 2].id)"><i class="fa fa-star" aria-hidden="true"></i> Favorite</button></li>
        </div>
        <div class="dashPlaces col-xs-3" ng-if="view.userPlaces.length > ($index + 3)">
          <li><h4><strong><i class="fa fa-star" aria-hidden="true" ng-show="view.userPlaces[$index + 3].is_favorite"></i> {{view.userPlaces[$index + 3].name}}</strong></h4></li>
          <li><img ng-src="{{view.userPlaces[$index + 3].image}}" alt="Restaurant"></li>
          <li>{{view.userPlaces[$index + 3].address_line_1}} {{view.userPlaces[$index + 3].address_line_2}}</li>
          <li>{{view.userPlaces[$index + 3].city}}, {{view.userPlaces[$index + 3].state}} {{view.userPlaces[$index + 3].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userPlaces[$index + 3].address_line_1}} {{view.userPlaces[$index + 3].address_line_2}} {{view.userPlaces[$index + 3].city}} {{view.userPlaces[$index + 3].state}} {{view.userPlaces[$index + 3].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userPlaces[$index + 3].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li ng-show="!view.userPlaces[$index + 3].is_favorite"><button class="btn btn-success" ng-click="view.userPlaces[$index + 3].is_favorite = !view.userPlaces[$index + 3].is_favorite; view.userFaves.push(view.userPlaces[$index + 3]); view.addFavorite(view.userPlaces[$index + 3].id)"><i class="fa fa-star" aria-hidden="true"></i> Favorite</button></li>
        </div>
      </ul>
    </div>
    <h4 class="text-center dashHeading" ng-click="view.showFavorites = !view.showFavorites"><i class="fa fa-plus fa-1x" aria-hidden="true" ng-show="!view.showFavorites"></i><i class="fa fa-minus fa-1x" aria-hidden="true" ng-show="view.showFavorites"></i> Favorites</h4>
    <div class="dashGroup text-center" ng-show="view.showFavorites">
      <h3 ng-show="view.userFaves.length === 0">
        Looks like you don't have any favorites yet! <a href="#/decide">Click here to search</a> and find somewhere to go!
      </h3>
      <ul class="list-group center-block row" ng-repeat="place in view.userFaves" ng-if="$index % 3 === 0">
        <div class="dashPlaces col-xs-3">
          <li><h4><strong>{{view.userFaves[$index].name}}</strong></h4></li>
          <li><img ng-src="{{view.userFaves[$index].image}}" alt="Restaurant"></li>
          <li>{{view.userFaves[$index].address_line_1}} {{view.userFaves[$index].address_line_2}}</li>
          <li>{{view.userFaves[$index].city}}, {{view.userFaves[$index].state}} {{view.userFaves[$index].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userFaves[$index].address_line_1}} {{view.userFaves[$index].address_line_2}} {{view.userFaves[$index].city}} {{view.userFaves[$index].state}} {{view.userFaves[$index].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userFaves[$index].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li><button class="btn btn-danger" ng-click="view.userFaves[$index].is_favorite = !view.userFaves[$index].is_favorite; view.removeFavorite(view.userFaves[$index].id)"><i class="fa fa-times" aria-hidden="true"></i> Remove</button></li>
        </div>
        <div class="dashPlaces col-xs-3" ng-if="view.userFaves.length > ($index + 1)">
          <li><h4><strong>{{view.userFaves[$index + 1].name}}</strong></h4></li>
          <li><img ng-src="{{view.userFaves[$index + 1].image}}" alt="Restaurant"></li>
          <li>{{view.userFaves[$index + 1].address_line_1}} {{view.userFaves[$index + 1].address_line_2}}</li>
          <li>{{view.userFaves[$index + 1].city}}, {{view.userFaves[$index + 1].state}} {{view.userFaves[$index + 1].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userFaves[$index + 1].address_line_1}} {{view.userFaves[$index + 1].address_line_2}} {{view.userFaves[$index + 1].city}} {{view.userFaves[$index + 1].state}} {{view.userFaves[$index + 1].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userFaves[$index + 1].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li><button class="btn btn-danger" ng-click="view.userFaves[$index + 1].is_favorite = !view.userFaves[$index + 1].is_favorite; view.removeFavorite(view.userFaves[$index + 1].id)"><i class="fa fa-times" aria-hidden="true"></i> Remove</button></li>
        </div>
        <div class="dashPlaces col-xs-3" ng-if="view.userFaves.length > ($index + 2)">
          <li><h4><strong>{{view.userFaves[$index + 2].name}}</strong></h4></li>
          <li><img ng-src="{{view.userFaves[$index + 2].image}}" alt="Restaurant"></li>
          <li>{{view.userFaves[$index + 2].address_line_1}} {{view.userFaves[$index + 2].address_line_2}}</li>
          <li>{{view.userFaves[$index + 2].city}}, {{view.userFaves[$index + 2].state}} {{view.userFaves[$index + 2].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userFaves[$index + 2].address_line_1}} {{view.userFaves[$index + 2].address_line_2}} {{view.userFaves[$index + 2].city}} {{view.userFaves[$index + 2].state}} {{view.userFaves[$index + 2].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userFaves[$index + 2].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li><button class="btn btn-danger" ng-click="view.userFaves[$index + 2].is_favorite = !view.userFaves[$index + 2].is_favorite; view.removeFavorite(view.userFaves[$index + 2].id)"><i class="fa fa-times" aria-hidden="true"></i> Remove</button></li>
        </div>
        <div class="dashPlaces col-xs-3" ng-if="view.userFaves.length > ($index + 3)">
          <li><h4><strong>{{view.userFaves[$index + 3].name}}</strong></h4></li>
          <li><img ng-src="{{view.userFaves[$index + 3].image}}" alt="Restaurant"></li>
          <li>{{view.userFaves[$index + 3].address_line_1}} {{view.userFaves[$index + 3].address_line_2}}</li>
          <li>{{view.userFaves[$index + 3].city}}, {{view.userFaves[$index + 3].state}} {{view.userFaves[$index + 3].zip}}</li>
          <li><a href="https://www.google.com/maps/dir//{{view.userFaves[$index + 3].address_line_1}} {{view.userFaves[$index + 3].address_line_2}} {{view.userFaves[$index + 3].city}} {{view.userFaves[$index + 3].state}} {{view.userFaves[$index + 3].zip}}" target="_blank">Get Directions</a></li>
          <li><a href="{{view.userFaves[$index + 3].yelp_url}}" target="_blank">Go to the Yelp Page</a></li>
          <li><button class="btn btn-danger" ng-click="view.userFaves[$index + 3].is_favorite = !view.userFaves[$index + 3].is_favorite; view.removeFavorite(view.userFaves[$index + 3].id)"><i class="fa fa-times" aria-hidden="true"></i> Remove</button></li>
        </div>
      </ul>
    </div>
    <h4 class="text-center dashHeading" ng-click="view.addFaveShow = !view.addFaveShow; view.addFaveForm = !view.addFaveForm"><i class="fa fa-plus fa-1x" aria-hidden="true" ng-show=!view.addFaveShow></i><i class="fa fa-minus fa-1x" aria-hidden="true" ng-show="view.addFaveShow"></i> Add To Favorites</h4>
    <cp-add-fave-form ng-show="view.addFaveShow && view.addFaveForm"></cp-add-fave-form>
    <cp-fave-results ng-show="view.addFaveShow && view.searchFaveResults"></cp-fave-results>
  </div>
</div>
