<div class="background">
  <div class="searchContent">
    <div class="homeText">
      <h2 class="text-center">Hungry, but not sure where to eat?</h2>
      <h2 class="text-center">Overcome with indecision, but your hunger level is just getting worse?</h2>
      <h2 class="text-center">Then just use this site! Simply tell us where you are, how far you feel like going, and what you want to eat, and we'll give you a place to eat.</h2>
      <a href="/#/decide"><h2 class="text-center"><button class="btn btn-primary btn-xl">Click here to get going!</button></h2></a>
      <h1 class="text-center">Enjoy your meal!</h1>
    </div>
  </div>
  </div>
