<div class="faveBackground">
  <div class="searchContent">
    <div class="searchText">
      <div ng-show="!view.faveResults">
        <h1 class="text-center">Search From Your Favorites!</h1>
        <h5 class="text-center"><strong>Want to go somewhere you know you'll love? Search exclusively from your favorites!</strong></h5>
        <button class="submitButton center-block" ng-click="view.searchFavorites()" ng-show="view.favoritePlaces.length > 0">Where Should I Eat?</button>
      </div>
      <div ng-show="view.favoritePlaces.length === 0">
        <h3 class="text-center">Looks like you don't have any favorites to search from! <a href="#/decide">Click here to search all places</a> and find somewhere to go! </h3>
      </div>
      <div ng-show="view.faveResults">
        <h1 class="text-center">Here's where you should go eat!</h1>
        <div ng-repeat="result in view.faveRestaurants">
          <h2 class="text-center"><strong><i class="fa fa-star" aria-hidden="true"></i> {{result.name}}</strong></h2>
          <img ng-src="{{result.image}}" alt="restaurant image" class="center-block">
          <br>
          <h4 class="text-center"><strong>{{result.address_line_1}} {{result.address_line_2}}</strong></h4>
          <h4 class="text-center"><strong>{{result.city}}, {{result.state}} {{result.zip}}</strong></h4>
          <a href="https://www.google.com/maps/dir//{{result.address_line_1}} {{result.city}} {{result.state}} {{result.zip}}" target="_blank"><button class="btn btn-link btn-md center-block">Get Directions</button></a>
          <p></p>
          <a href="{{result.yelp_url}}" target="_blank"><button class="btn btn-link btn-md center-block">Go to the Yelp page!</button></a>
          <button class="submitButton center-block" type="submit" ng-click="view.searchFavesAgain()" ng-show="view.favoritePlaces.length > 1">Not satisfied? Try again!
          </button>
          <p></p>
          <p class="text-center"><strong>Results powered by: </strong><span><img src="./images/yelp/yelp-logo-small.png" alt="Yelp"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
