<h2 ng-show="view.inputLocation" class="text-center">First things first. Where are you?</h2>
<h2 ng-show="view.inputTypeOfFood" class="text-center">Next: What are you in the mood for?</h2>
<div class="formClass">
    <form name="searchForm">
      <button type="button" ng-show="view.inputLocation && !view.loading" class="btn btn-link center-block" ng-click="view.getLocation()">Get Current Location</button>
      <p ng-show="view.loading" class="text-center">Getting current location...</p>
      <div class='spinner' ng-show="view.loading">
        <pulse-spinner></pulse-spinner>
      </div>
      <div class="text-center">
        <i class="fa fa-check fa-3x" aria-hidden="true" ng-show="view.locationConfirmed"></i>
      </div>

      <h3 class="text-center" ng-show="view.inputLocation">OR</h3>
      <div class="row" ng-show="view.inputLocation">
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input name="address" type="text" class="form-control" ng-model="view.address">
        </div>
        <div class="form-group col-md-6">
          <label for="city">City</label>
          <input id="city" type="text" class="form-control" ng-model="view.city">
        </div>
      </div>
      <div class="row" ng-show="view.inputLocation">
        <div class="form-group col-md-6">
          <label for="state">State</label>
          <input id="state" type="text" class="form-control" ng-model="view.state">
        </div>
        <div class="form-group col-md-6">
          <label for="zip">Zip Code</label>
          <input id="zip" type="text" class="form-control" ng-model="view.zip">
        </div>
      </div>
      <!-- <div class="row" ng-show="view.inputTypeOfFood"> -->
      <div class="row text-left" ng-show="view.inputTypeOfFood">
        <!-- <input type="text"> -->
        <div class="radio col-md-12 text-center">
          <label>
            <input type="radio" name="category" value= '' ng-model="view.anything">Anything
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="breakfast_brunch" ng-model="view.breakfast_brunch">Breakfast/Brunch
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="bbq" ng-model="view.bbq">BBQ
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="burgers" ng-model="view.burgers">Burgers
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="chinese" ng-model="view.chinese">Chinese
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="comfortfood" ng-model="view.comfortfood">Comfort Food
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="hotdogs" ng-model="view.hotdogs">Fast Food
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="indpak" ng-model="view.indpak">Indian
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="italian" ng-model="view.italian">Italian
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="japanese" ng-model="view.japanese">Japanese
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="mediterranean" ng-model="view.mediterranean">Mediterranean
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="mexican" ng-model="view.mexican">Mexican
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="pizza" ng-model="view.pizza">Pizza
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="pubfood" ng-model="view.pubfood">Pub Food
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="salad" ng-model="view.salad">Salad
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="sandwiches" ng-model="view.sandwiches">Sandwiches
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="seafood" ng-model="view.seafood">Seafood
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="soup" ng-model="view.soup">Soup
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="steak" ng-model="view.steak">Steak
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="sushi" ng-model="view.sushi">Sushi
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="vegan" ng-model="view.vegan">Vegan
          </label>
        </div>
        <div class="radio col-md-2">
          <label>
            <input type="radio" name="category" value="vegetarian" ng-model="view.vegetarian">Vegetarian
          </label>
        </div>
      </div>
      <button class="btn btn-info center-block" ng-show="view.inputLocation" ng-click="view.changeInput()">Submit Location
      </button>
      <button class="btn btn-info center-block" type="submit" ng-show="view.inputTypeOfFood" ng-click="view.searchYelp()">Tell Me Where To Go!
      </button>
    </form>
  </div>
  <cp-show-results></cp-show-results>
