<h2 ng-show="view.inputLocation" class="text-center">First things first. Where are you?</h2>
<h2 ng-show="view.inputTypeOfFood" class="text-center">Next: What are you in the mood for?</h2>
<div class="formClass">
    <form name="searchForm">
      <button type="button" class="btn btn-link center-block" ng-click="view.getLocation()">Get Current Location</button>
      <div class="row" ng-show="view.inputLocation">
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input name="address" type="text" class="form-control">

        </div>
        <div class="form-group col-md-6">
          <label for="city">City</label>
          <input placeholder="City" id="city" type="text" class="form-control">

        </div>
      </div>
      <div class="row" ng-show="view.inputLocation">
        <div class="form-group col-md-6">
          <label for="state">State</label>
          <input placeholder="State" id="state" type="text" class="form-control">

        </div>
        <div class="form-group col-md-6">
          <label for="zip">Zip Code</label>
          <input placeholder="Zip Code" id="zip" type="text" class="form-control" length="5">

        </div>
      </div>
      <!-- <div class="row" ng-show="view.inputTypeOfFood"> -->
      <div class="row text-left" ng-show="view.inputTypeOfFood">
        <!-- <input type="text"> -->
        <div class="checkbox col-md-12 text-center">
          <label>
            <input type="checkbox" value="">Anything
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="breakfast_brunch">Breakfast/Brunch
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="african">African
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="newamerican">American (New)
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="tradamerican">American (Traditional)
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="arabian">Arabian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="argentine">Argentine
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="asianfusion">Asian Fusion
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="bbq">BBQ
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="beergarden">Beer Garden
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="brazilian">Brazilian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="british">British
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="buffets">Buffets
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="burgers">Burgers
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="cajun">Cajun/Creole
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="cheesesteaks">Cheesesteaks
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="chicken_wings">Chicken Wings
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="chinese">Chinese
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="comfortfood">Comfort Food
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="creperies">Crepes
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="cuban">Cuban
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="delis">Delis
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="diners">Diners
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="dumplings">Dumplings
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="ethiopian">Ethiopian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="hotdogs">Fast Food
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="fishnchips">Fish & Chips
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="flatbread">Flatbread
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="fondue">Fondue
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="french">French
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="gastropubs">Gastropubs
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="german">German
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="gluten_free">Gluten-Free
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="greek">Greek
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="hawaiian">Hawaiian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="himalayan">Himalayan/Nepalese
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="hotdog">Hot Dogs
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="indpak">Indian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="international">International
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="irish">Irish
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="italian">Italian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="japanese">Japanese
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="kebab">Kebab
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="korean">Korean
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="kosher">Kosher
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="latin">Latin American
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="mediterranean">Mediterranean
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="mexican">Mexican
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="mideastern">Middle Eastern
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="mongolian">Mongolian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="moroccan">Moroccan
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="noodles">Noodles
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="pizza">Pizza
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="polish">Polish
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="pubfood">Pub Food
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="salad">Salad
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="sandwiches">Sandwiches
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="seafood">Seafood
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="soulfood">Soul Food
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="soup">Soup
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="southern">Southern
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="spanish">Spanish
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="steak">Steak
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="sushi">Sushi
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="tapas">Tapas
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="tex-mex">Tex-Mex
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="turkish">Turkish
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="vegan">Vegan
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="vegetarian">Vegetarian
          </label>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="vietnamese">Vietnamese
          </label>
        </div>
      </div>
      <button class="btn btn-info center-block" ng-show="view.inputLocation" ng-click="view.changeInput()">Submit Location
      </button>
      <button class="btn btn-info center-block" ng-show="view.inputTypeOfFood">Tell Me Where To Go!
      </button>
    </form>
  </div>
