@media(min-width: 768px) {
  .homeText {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .searchText {
    padding-top: 50px;
  }
}

@media(min-width: 1400px) {
  .background, .searchBackground, .faveBackground, .dashBackground, .signUpBackground, .signInBackground, .aboutBackground {
    min-height: 86vh;
  }
  .searchContent {
    height: 86vh;
  }
}
