/*General Styling*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Cabin', sans-serif;*/
  /*font-family: 'Josefin Slab', serif;*/
}

h1 {
  font-family: 'Reenie Beanie', cursive;
}

main {
  flex: 1 0 auto;
}



a {
  color: #162252;
}

/*Header Styling*/

header {
  height: 120px;
  background: url('../images/confectionary.png') repeat 0 0;
}

.navbar {
    z-index: 9999;
}

/*Form Styling*/

.radioRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.formClass {
  padding-left: 20px;
  padding-right: 20px;
}

.submitForm.container {
  text-align: center;
}

.userFormClass {
  margin: 0 auto;
}

input, textarea, input.ng-pristine{
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  background: #FFFFFF;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  margin: 5px;
  font: {
    size: 1em;
    family: 'Raleway', sans-serif;
    /*font-family: 'Cabin', sans-serif;*/
    /*font-family: 'Josefin Slab', serif;*/
  }
}

input:hover, textarea:hover,
input:focus, textarea:focus, select:hover, select:focus, input.ng-pristine:focus, input.ng-pristine:hover {
  border-color: #279E88;
  -webkit-box-shadow: #279E88 0px 0px 8px;
}

.submitButton {
  margin-top: 10px;
  cursor:pointer;
  width: auto;
  padding: 9px 15px;
  background: #279E88;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font: {
    size: 1em;
    family: 'Raleway', sans-serif;
    /*font-family: 'Cabin', sans-serif;*/
    /*font-family: 'Josefin Slab', serif;*/
  }
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
  -webkit-box-shadow: red 0px 0px 8px;
  box-shadow: red 0px 0px 8px;
  -moz-box-shadow: red 0px 0px 8px;
}

.error {
  color: red;
}

/*Results Page*/

.resultsSection {
  margin-bottom: 50px;
}

/*Dashboard Page*/

.dashHeading:hover {
  cursor: pointer;
  color: #279E88;
}

.dashPlaces {
  height: 300px;
  overflow: scroll;
  color: white;
  border: solid 1px black;
  border-radius: 5%;
  width: 300px;
  margin: 10px;
  background: url('../images/footer_lodyas.png') repeat 0 0;
  opacity: 0.9;
}

.dashPlaces::after {
  opacity: 0.6;
}

.dashPlaces a {
  color: #00cece;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 3px;
}

/*Background*/

.background, .searchBackground, .faveBackground, .dashBackground, .signUpBackground, .signInBackground, .aboutBackground {
  margin-top: 0px;
  position: relative;
  overflow: scroll;
  display: block;
  width: 100%;
  min-height: 45em;
  height: auto;
}

.background::after {
  background-image: url('../images/restaurant.jpg');
  background-size: cover;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.aboutBackground::after {
  background-image: url('../images/pasta.jpg');
  background-size: cover;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.searchBackground::after {
  background-image: url('../images/outdoor.jpg');
  background-size: cover;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.faveBackground::after {
  background-image: url('../images/pizza.jpg');
  background-size: cover;
  content: "";
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.dashBackground::after {
  background-image: url('../images/sushi.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  content: "";
  opacity: 0.6;
  min-height: 45em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.signUpBackground::after {
  background-image: url('../images/breakfast.jpg');
  background-repeat: repeat;
  background-size: cover;
  content: "";
  opacity: 0.6;
  min-height: 45em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.signInBackground::after {
  background-image: url('../images/burgers.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  content: "";
  opacity: 0.6;
  min-height: 45em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.searchContent {
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  height: 45em;
  overflow: auto;
}

/*Footer Styling*/

footer {
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  background: url('../images/footer_lodyas.png') repeat 0 0;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.btn-md {
  padding: 8px 18px;
  font-size: 20px;
  border-radius: 8px;
}
