/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/*General Styling*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
}

main {
  flex: 1 0 auto;
}

/*Form Styling*/

.formClass {
  padding: 20px;
}

.submitForm.container {
  text-align: center;
}

.userFormClass {
  margin: 0 auto;
}

input, textarea, input.ng-pristine{
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  /*width: 400px;*/
  background: #FFFFFF;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  margin: 5px;
  font: {
    size: 1em;
    family: 'Raleway', sans-serif;
  }
}

input:hover, textarea:hover,
input:focus, textarea:focus, select:hover, select:focus, input.ng-pristine:focus, input.ng-pristine:hover {
  border-color: #279E88;
  -webkit-box-shadow: #279E88 0px 0px 8px;
}

.submitButton {
  margin-top: 10px;
  cursor:pointer;
  width: auto;
  padding: 9px 15px;
  background: #279E88;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font: {
    size: 1em;
    family: 'Raleway', sans-serif;
  }
}

input.ng-dirty.ng-invalid {
  border: 1px solid red;
  -webkit-box-shadow: red 0px 0px 8px;
  box-shadow: red 0px 0px 8px;
  -moz-box-shadow: red 0px 0px 8px;
}

.error {
  color: red;
}

/*Results Page*/

.resultsSection {
  margin-bottom: 50px;
}

/*Footer Styling*/

footer {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #279E88;
}
