/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/*General Styling*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*Form Styling*/

.formClass {
  padding: 20px;
}

/*Footer Styling*/

footer {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #279E88;
}
